<div class="section" style=padding-top:50px;padding-bottom:50px; ng-controller="SignupController">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 align="center">Sign Up Step 1!</h1>
            </div>
        </div>
        <div class="row">
            <!--<div class="col-md-6">
                <p>Master how to grow various crops with ARET's Farmer Crop Management System!</p>
            </div>-->
            <div class="col-md-6">
                <form role="form">
                    <div class="form-group">
                        <label class="control-label" for="exampleInputEmail1">Username</label>
                        <input ng-model="username" class="form-control" id="exampleInputEmail1" placeholder="Enter email" type="email">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="exampleInputPassword1">Password</label>
                        <input ng-model="password" class="form-control" id="exampleInputPassword1" placeholder="Password" type="password">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="exampleInputPassword2">Confirm</label>
                        <input ng-model="passwordConf" class="form-control" id="exampleInputPassword2" placeholder="Confirm Password" type="password">
                    </div>
                 </form>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                        <label class="control-label" for="firstName">First Name</label>
                        <input ng-model="firstName" class="form-control" id="firstName" placeholder="First Name" type="text">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="lastName">Last Name</label>
                        <input ng-model="lastName" class="form-control" id="lastName" placeholder="Last Name" type="text">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="birthYear">Birth Year</label>
                        <input ng-model="birthYear" class="form-control" id="birthYear" placeholder="Birth Year" type="number">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="region">Region</label>
                        <select ng-model="selectedRegion" ng-options="val for val in getRegions()" ng-change="filterDistricts()" class="form-control">
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="district">District</label>
                        <select ng-model="selectedDistrict" ng-options="val for val in filterDistricts()" class="form-control">
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="span7 text-center">
                    <button align="center" type="submit" class="btn btn-default" ng-click="submitUser()">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>