
    .navbar {
      margin-bottom: 0;
      border-radius: 2;
      
    }

    .navbar .nav > li > a {
    float: none;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    color:  #fff;
}

    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    
  
    /* Set gray background color and 100% height */
    
    .sidenav {
      padding-top: 20px;
      padding-bottom: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }

    /* Set black background color, white text and some padding */
    .full {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../images/malawicover.jpg") no-repeat center center fixed;
    background-position: 0px 50px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height:100%;
}
 html, body {
  height: 100%;
 

}

#wrap {
  min-height: 100%;
}

.svection {

  position: absolute;
  z-: 80;
  top: 10em;
  right: 20em;
    background-color: #1D954E;
color: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 20px;  
}

.footer {
  position: absolute;
  bottom: auto;
  /* Set the fixed height of the footer here */
  height: 50px;
  width: 100%;
  background-color: #1D954E;
}


