
    .navbar {
      margin-bottom: 0;
      border-radius: 2;
      
    }

    .navbar .nav > li > a {
    float: none;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    color:  #fff;
}

    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    
  
    /* Set gray background color and 100% height */
    
    .sidenav {
      padding-top: 20px;
      padding-bottom: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }

    /* Set black background color, white text and some padding */
    
 html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: auto;
  /* Set the fixed height of the footer here */
  height: 60px;
  width: 100%;
  background-color: #CCC;
}


