body {
    background-color: antiquewhite
    /*padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 50px;*/
}
h1 {
    background-color: #006622;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
}
p {
    color: red;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}